.nuestramision{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:250px 250px  ;
    grid-template-areas: "hijo1 hijo2 hijo2 "
                         "hijo1 hijo3 hijo4";

    margin-top: 30px;
    background: linear-gradient(to bottom, white, #38B6FF);


}


.unoNuestra{
    
    grid-area:hijo1 ;
    
    
}
.unoNuestra img{
    width: auto;
    height: 500px;
    margin-left: 250px;
    
}
.tresNuestra img ,.cuatroNuestra img{
 width: 450px;
 height: auto;
 margin-left: 80px;
}
.dosNuestra{
    
    grid-area: hijo2;
    text-align: center;
    padding-top: 110px;
}

.tresNuestra{
    
    grid-area: hijo3;
}

.cuatroNuestra{
    
    grid-area: hijo4;
}