/* Main content styles */
.partes {
    position: relative;
    width: 100%;
    display: flex;
    height: calc(100vh - 500px); /* Ajuste para que ocupe el espacio restante del viewport */
    margin-top: 0;
}

/* Left and right sections */
.izquierdo, .derecho {
    flex: 1; /* Ocupan la mitad del ancho */
    height: 100%;
    top: 0;
}

/* Left section */
.izquierdo {
    background-color: rgba(241, 18, 18, 0.973); /* Fondo de la izquierda */
}

/* Right section */
.derecho {
    background-color: rgba(22, 18, 241, 0.973); /* Fondo de la derecha */
}

/* Menu image */
.imagencarta {
    position: absolute;
    top: 40px; /* Espaciado de 40px desde la parte superior */
    bottom: 40px; /* Espaciado de 40px desde la parte inferior */
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.imagencarta img {
    max-width: 100%;
    max-height: calc(100% - 80px); /* Para que la imagen esté alejada 40px de arriba y abajo */
    height: auto;
    z-index: 1;
}

/* Header adjustments */
header {
    z-index: 2;
    position: relative;
}

/* Navigation styling */
.inicio {
    z-index: 3;
}

/* Add scrolled class background change */
.inicio.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
}

